#scorllbar::-webkit-scrollbar{
    width: 0;
    height: 0;
}
#id1{
    /* background: rgba(255, 255, 255, .1); */
    /* box-shadow: 0 25px 45px rgba(0, 0, 0,0.2); */
    backdrop-filter: blur(10px);
}
#id2{
    /* background: rgba(255, 255, 255, .1); */
    /* box-shadow: 0 25px 45px rgba(0, 0, 0,0.2); */
    backdrop-filter: blur(10px);
}
#id3{
    /* background: rgba(255, 255, 255, .1); */
    /* box-shadow: 0 25px 45px rgba(0, 0, 0,0.2); */
    backdrop-filter: blur(10px);
}
#id4{
    /* background: rgba(255, 255, 255, .1); */
    /* box-shadow: 0 25px 45px rgba(0, 0, 0,0.2); */
    backdrop-filter: blur(10px);
}